<%= form_with model: [password, user_password], url: password_shares_path(password) do |form| %>
  <div class="flex justify-between my-2">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, users, :id, :email %>
  </div>

  <div class="flex justify-between my-2">
    <%= form.label :role %>
    <%= form.select :role, UserPassword::ROLES %>
  </div>

  <div class="text-right">
    <%= form.submit "Share", class:'px-5 py-2.5 bg-gray-200 rounded' %>
  </div>
<% end %>